/* styles.css */

/* Header */
header {
    background-color: #343a40;
    color: #ffffff;
    padding: 2rem 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Navigation */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #343a40;
    font-weight: bold;
}

/* Hero Section */
.hero {
    background-color: #f8f9fa;
    text-align: center;
    padding: 4rem 0;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

/* Features Section */
.features {
    background-color: #ffffff;
    padding: 4rem 0;
}

.features h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.feature {
    text-align: center;
}

.feature i {
    font-size: 3rem;
    color: #343a40;
}

/* Footer */
footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
}
