/* static/styles.css */

.form-container {
    max-width: 400px;
    margin: 0 auto; /* This centers the container horizontally */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(93, 135, 183)27, 255);
}

h1 {
    text-align: center;
}
