body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; 
}

h1 {
    font-size: 48px; 
    font-family: 'Satisfy', cursive; 
        text-align: center;
    color: #333; 
    text-transform: uppercase; 
}
/* Container for the image */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; 
}

/* Style for the image */
.centered-image {
    max-width: 100%; 
    max-height: 100%; 
}
.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.button-form {
    flex-basis: 100px; 
    text-align: center;
}
.custom-bg {
    background-color: #f946d2
  }

.like-button, .dislike-button {
    background-color: #d73cb5; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 15px 32px; /* Padding inside the button */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline on text */
    display: inline-block; /* Inline-block layout */
    font-size: 16px; /* Text size */
    margin: 4px 2px; /* Margin around the button */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 8px; /* Rounded corners */
}

.like-button:hover, .dislike-button:hover {
    background-color: #f946d2
}

