<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vHarmony</title>
    <!-- Include Flask-Bootstrap CSS -->
    {{ bootstrap.load_css() }}
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href='/'>Home</a>
        <a class="navbar-brand" href='/about'>About</a>
        <a class="navbar-brand" href='/match'>Match</a>
    </nav>

        <!-- Hero Section -->
        <section class="hero bg-primary text-white text-center py-5">
            <div class="container">
                <h1>vHarmony</h1>
                <p>THE <b style="color: rgb(251, 162, 47);">#1 TRUSTED</b> CAR MATCHING APP</p>
            </div>
        </section>

        <section class="hero text-white text-center py-5">
            <div class="container-sm">
                <p class="text-primary">
                    Here at vHarmony, our mission is to match you with the vehicle of your dreams. 
                    Using state-of-the-art data analysis, we here at vHarmony have developed techniques
                    to pair you with the optimal match. Using our custom in-house developed algorithm technique 
                    that we call, "binary vehicular preferential anomalous simplex matching by deep analysis matrix
                    machine learning AI modeling", we are able to hone in with precision. Don't sit back and wonder
                    what could have been. get matched today!
                </p>
            </div>
        </section>
        

    </head>
<body>
</html>