<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vHarmony</title>
    <!-- Include Flask-Bootstrap CSS -->
    {{ bootstrap.load_css() }}

    <!--navigation bar-->
    {% include 'navbar.html' %}
    <!--Load css-->
    <link rel="stylesheet" type="text/css" href="../static/css/match.css">
</head>
<body>
    <!-- Hero Section -->
    <section class="hero bg-primary text-white text-center py-5">
        <div class="container">
            <h1>vHarmony</h1>
            <p> <b style="color: rgb(251, 162, 47);">HIGHEST QUALITY</b> AUTOMOBILE POOL</p>
        </div>
    </section>

    <!-- Image Container -->
    <br><br>
    <h3 style="text-align: center;">
        Do you like this car?
    </h3> <br><br>

    <div class="image-container">
        <img src="{{ image_url }}" class="centered-image">
    </div>
</body>
</html>
