<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vHarmony</title>
    <!-- Include Flask-Bootstrap CSS -->
    {{ bootstrap.load_css() }}

    <!--navigation bar-->
    {% include 'navbar.html' %}
    <!--Load css-->
    <link rel="stylesheet" type="text/css" href="../static/css/match.css">
</head>
<body>
    <!-- Hero Section -->
    <section class="hero bg-primary text-white text-center py-5">
        <div class="container">
            <h1>vHarmony</h1>
            <p> <b style="color: rgb(251, 162, 47);">HIGHEST QUALITY</b> AUTOMOBILE POOL</p>
        </div>
    </section>
 <!-- Content Container -->
    <div class="content-container">
     <!-- Dislike Button -->
        <form action="{{ url_for('match_dislike') }}" method="post" class="button-form">
            <input type="hidden" name="image_url" value="{{ image_url }}">
            <button type="submit" class="dislike-button">Dislike</button>
        </form>

        <!-- Image Container -->
        <div class="image-container">
            <img src="{{ image_url }}" class="centered-image">
        </div>

          <!-- Like Button -->
        <form action="{{ url_for('match_like', type=car_type, make=car_make, color=car_color, cond=car_cond) }}" method="post" class="button-form">
            <input type="hidden" name="image_url" value="{{ image_url }}">
            <button type="submit" class="like-button">Like</button>
        </form>

    </div>
</body>
</html>
