
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vHarmony</title>
    <!-- Include Flask-Bootstrap CSS -->
    {{ bootstrap.load_css() }}

    <!--navigation bar-->
    {% include 'navbar.html' %}
    <!--Load css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/match.css') }}">
</head>
<body>
    <!-- Hero Section -->
    <section class="hero custom-bg text-white text-center py-5">
        <div class="container">
            <h1>vHarmony</h1>
            <p> <b style="color: rgb(100, 46, 186);">YOU'VE BEEN MATCHED!!!</b></p>
        </div>
    </section>
    <!-- Content Container -->
    <div class="content-container">

        <!-- Image Container -->
        <div class="image-container">
            <img src="{{ image_url }}" class="centered-image">
        </div><br>
    </div>
    <form style="text-align: center;" method="GET" action="/survey">
        <button type="submit" class="like-button">TAKE OUR SATISFIED CUSTOMER SURVEY!</button>
    </form>
</body>
</html>
            