<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vHarmony</title>
    <!-- Include Flask-Bootstrap CSS -->
    {{ bootstrap.load_css() }}

    <!--navigation bar-->
    {% include 'navbar.html' %}

    <!--Load css-->
    <link rel="stylesheet" type="text/css" href="../static/css/match.css">

    <!-- Hero Section -->
    <section class="hero bg-primary text-white text-center py-5">
        <div class="container">
            <h1>vHarmony</h1>
            <p> <b style="color: rgb(251, 162, 47);">RATE</b> US!</p>
        </div>
    </section><br>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/survey.css') }}">
</head>
<body>

    <!-- Centered Form Container -->
    <div class="form-container">
        <h1>Survey Form</h1>
        <form method="POST" action="{{ url_for('survey') }}">
            {{ form.hidden_tag() }}
    
            <div class="questions">
                {{ form.name.label }}<br>
                {{ form.name(class_="form-control") }}<br>
    
                {{ form.effectiveness_rating.label }}<br>
                {{ form.effectiveness_rating(class_="form-control") }}<br>
                
                {{ form.age.label }}<br>
                {{ form.age(class_="form-control") }}<br>
    
                {{ form.recommend.label }}<br>
                {{ form.recommend(class_="form-control") }}<br>
    
                {{ form.submit(class_="btn btn-primary") }}
            </div>
        </form>
    </div>

</body>
</html>