<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Playlist Results</title>
      {{ bootstrap.load_css() }}
  </head>
<body>
    <div class="container mb-4">  
      <div class="card mt-4">
        <div class="card-body">
          <h2 class="card-title">Playlist (so far)</h2>
          <ul class="list-group">
            {% for item in playlist %}
            <li class="list-group-item">Song: {{ item.song }}, Artist: {{ item.artist }}</li>
        {% endfor %}
          </ul>
        </div>
        <img src="https://media.istockphoto.com/id/1268654991/photo/stylish-senior-man-portrait.webp?b=1&s=170667a&w=0&k=20&c=mf6sNXkmfhdUJetUOohsTS59LOje5FPiOJQ8itnQy6s=">
        <div class="card-footer">
          <a href="{{ url_for('index') }}" class="card-link">Take me home</a>
        </div>
      </div>
    </div>
</body>
</html>